@model MinistryInvestment.Mvc.ViewModels.RegionViewModel

@section scripts
{
    <script>
        $(document).ready(function () {
            //page load
            window.onload = function () {
                if ("@Model.Error" == "True") {
                    $("#errorModal").modal("show");
                }
                loadPage();
            }
            //event handlers
            $("#tab-items-body").on("click", "#editRegionBtn", function () {
                $("#addEditRegionModal").modal("show");
                $("#Region_RegionId").val($(this).data("regionid"));
                $("#Region_RegionName").val($(this).data("regionname"));
            });

            $("#tab-items-body").on("click", "#deleteRegionBtn", function () {
                $("#deleteModal").modal("show");
                $("#Region_RegionId").val($(this).data("regionid"));
                $("#Region_RegionName").val("-1");
            });

            $("#addEditRegionBtn").on("click", function () {
                $("#addEditRegionModal").modal("show");
                $("#Region_RegionId").val(0);
                $("#Region_RegionName").val(null);
            });

            $("#addEditRegionModal").on('hidden.bs.modal', function () {
                $("#Region_RegionId").val(0);
                $("#Region_RegionName").val(null);
                $(".field-validation-error").empty();
            });

            $("#deleteModal").on('hidden.bs.modal', function () {
                $("#Region_RegionId").val(0);
                $("#Region_RegionName").val(null);
            });
        })
    </script>
}

@using (Html.BeginForm("SaveRegion", "Regions", FormMethod.Post, new { id = "newRegionForm" }))
{
    @Html.HiddenFor(m => m.Region.RegionId)
    <div class="modal fade" id="addEditRegionModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Region</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <div class="row mt-1">
                            @Html.LabelFor(m => m.Region.RegionName)
                            <div class="col">
                                @Html.EditorFor(m => m.Region.RegionName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Region.RegionName)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="saveRegionBtn">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-primary">
                    <h5>Regions</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped table-bordered mytables" id="RegionsTable">
                        <thead>
                            <tr class="align-middel">
                                <th class="text-center">
                                    <button type="button" id="addEditRegionBtn" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                </th>
                                <th style="width:80%">Region Name</th>
                            </tr>
                        </thead>
                        <tbody id="tab-items-body">
                            @foreach (var r in Model.Regions)
                            {
                                <tr class="align-middle">
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary" id="editRegionBtn"
                                                data-RegionId="@r.RegionId"
                                                data-RegionName="@r.RegionName">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger" id="deleteRegionBtn"
                                                data-RegionId="@r.RegionId">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    <td>
                                        @r.RegionName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Region</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <p class="modal-body">Are you sure you want to delete region.</p>
                <div class="modal-footer">
                    <input type="button" value="Yes" style="vertical-align:middle;" class="btn btn-danger float-center" onclick="submit()">
                    <input type="button" value="No" style="vertical-align:middle;" class="btn btn-secondary float-center" data-bs-dismiss="modal">
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="errorModal" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <p class="modal-body">An error has occured when modifying region. If you are trying to delete make sure it is not in use.</p>
            <div class="modal-footer">
                <input type="button" value="Ok" style="vertical-align:middle;" class="btn btn-primary float-center" data-bs-dismiss="modal">
            </div>
        </div>
    </div>
</div>